[submodule "public/js/ace-builds"]
	path = public/js/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "public/js/jstree"]
	path = public/js/jstree
	url = https://github.com/vakata/jstree.git
[submodule "application/third_party/ssh"]
	path = application/third_party/ssh
	url = https://github.com/sgchris/ssh.git
[submodule "public/js/griquire"]
	path = public/js/griquire
	url = https://github.com/sgchris/griquire.git
[submodule "public/js/native-popup"]
	path = public/js/native-popup
	url = https://sgchris@github.com/sgchris/native-popup.git
